<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite" verbose="1" parallel="false">

	<test name="API Test Cases">
		<packages>
			<!-- Specify the base package containing your API test classes -->
			<package name="com.api.test" />
		</packages>
	</test>

</suite>
